*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7cfe0 !important;
}

h3{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4rem;
    
    
}
main{
     text-align: center;
     grid-area: main;
     margin: 100px;
     padding: 30px;
   
}

@import "index";
@import "proyecto1";
@import "proyectos";
@import "sobreMi";

@media (max-width:1024px) {
    
    main{
        position: relative;
        right: 300px;
    }
    .mainProyectos{
        position: relative;
        right: 50px;
    }
    .mainSobreMi{
        position: relative;
        right: 20px;
        flex-direction: column-reverse;
    }
    .foto{
        height: 300px;
    }
    
  }

@media (max-width: 720px) {
    .mainSobreMi {
        flex-direction: column-reverse;  
    }

    main{
        position: relative;
        right: 500px;
    }
    .foto{
        height: 200px;
    }
  }

