$colorBackP: black;

.proyecto1{
    text-align: center;
    margin: 3rem;
    padding: 5px;
}

.backP{
    margin:3rem;
    padding:10px;
    color: $colorBackP;
    font-size: x-large;
}
.emplearte2{
    height: 500px;
}
.parrafoP1{
    margin: 1rem;
    padding: 60px;
}